@mixin ubuntu-fonts {
  font-family: 'Ubuntu', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 170%;
  color: #181818;
}

@mixin montserrat-fonts {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 170%;
  color: #FFFFFF;
}

@mixin bebas_neue-fonts {
  font-family: 'Bebas Neue', sans-serif;
  font-style: normal;
  font-weight: 700;
}
