// colors
$basic-white: #FFFFFF;
$background-table: #F3F3F3;
$title-table: #0B64FE;
$button-color: #A6FFFF;
$background-voice: #181818;
$text-table: #181818;
$basic-black: #000000;

// viewports
$mobile-width-only: 500px;
$desktop-height: 900px;
